html {
    margin: 0;
    font-family: 'Slate for OnePlus', sans-serif;
}

h1 {
    font-family: 'Bahnschrift';
    margin: 0 auto auto auto;
}

h2 {
    font-family: 'Heavitas';
    margin: 0 auto auto auto;
    font-weight: lighter;
}

header {
    margin: 0;
    background-color: #16F0E5;
    width: 100%;
    height: 100%;
    border-bottom: solid 0.5rem #0000ff;
}

header a {
    color: #0000ff;
    text-decoration: none;
    display: block;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

ul {
    margin: 0;
}

#navbar {
    height: 20%;
    display: flex;
    align-items: center;
}

#navbar img {
    max-width: 60%;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100%;
}

#navimg {
    max-width: 30rem;
    padding-left: 0;
}

#navbar li {
    float: left;
    height: 100%;
}

main {
    margin: 1%;
    height: 80rem;
    position: relative;
}

main p {
    margin: 0;
    padding: 0;;
}

.links {
    left: 0;
    max-width: 29%;
    height: 25rem;
    position: absolute;
    font-size: xx-large;
    line-height: 3rem;
    opacity: 100%;
    animation-name: text;
    animation-duration: 2.5s;
    font-family: 'Heavitas';
    font-weight: lighter;
    font-size: xx-large;
}

.links ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    padding-left: 0;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.links ul li::before {
    content: '✓ ';
}

.links:nth-of-type(5) {
    top: 54rem;
}

.Feder {
    background-color: #000000;
    position: absolute;
    left: 20%;
    height: 25rem;
    width: 80%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 9% 60%);
    animation-name: feder;
    animation-duration: 1.5s;
}

.Feder:nth-of-type(6) {
    top: 54rem;
}

.Feder h1 {
    padding-top: 1%;
    color: #0000ff;
}

#contentr {
    margin: 0;
    height: 98%;
    background-color: #E4DAD4;
    clip-path: polygon(15.5% 1%, 99% 2%, 99% 99%, 1% 99%, 16% 99%, 10% 60%);
    padding-left: 17%;
    padding-top: 0.5%;
    font-size:x-large;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#contentr p {
    left: 0;
    max-width: 95%;
}

#tyres {
    max-width: 38%;
}

#contentr2 {
    margin: 0;
    height: 98%;
    background-color: #E4DAD4;
    clip-path: polygon(15.5% 1%, 99% 2%, 99% 99%, 1% 99%, 16% 99%, 10% 60%);
    padding-left: 17%;
    padding-top: 0.5%;
    font-size:x-large;
    line-height: 2.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.rim {
    width: 70%;
}

#contentr2 div {
    grid-area: 1 / 1 / 3 / 3;
}

.rim:nth-of-type(1) {
    grid-area: 1 / 3 / 2 / 4;
}

.rim:nth-of-type(2) {
    grid-area: 2 / 3 / 3 / 4;
}

.rim:nth-of-type(3) {
    grid-area: 1 / 4 / 2 / 5;
    margin-top: 20%;
}

.rim:nth-of-type(4) {
    grid-area: 2 / 5 / 3 / 6;
}

.rim:nth-of-type(5) {
    grid-area: 1 / 5 / 2 / 6; 
}

.Ball {
    background-color: #000000;
    position: absolute;
    right: 20%;
    top: 27rem;
    height: 25rem;
    width: 80%;
    clip-path: polygon(0 0, 85% 0, 91% 60%, 85% 100%, 0 100%);
    line-height: 2.5rem;
    animation-name: ball;
    animation-duration: 1.5s;
}

.Ball h1 {
    padding-top: 1%;
    color: #0000ff;
}

#contentl {
    margin: 0;
    height: 98%;
    background-color: #E4DAD4;
    clip-path: polygon(1% 1%, 84% 1%, 90% 60%, 84% 99%, 1% 99%);
    padding-left: 1.5%;
    padding-top: 0.5%;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:space-evenly;
}

#contentl p {
    left: 0;
    max-width: 85%;
}

#contentl img:nth-of-type(1) {
    max-width: 30%;
}

#contentl img:nth-of-type(2) {
    max-width: 30%;
    padding-right: 10%;
}

.rechts {
    left: 75%;
    max-width: 28%;
    position: absolute;
    height: 25rem;
    font-size: xx-large;
    line-height: 3rem;
    opacity: 100%;
    animation-name: text;
    animation-duration: 2.5s;
    top: 27rem;
    font-family: 'Heavitas';
    font-weight: lighter;
    font-size: xx-large;
}

.rechts ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    padding-left: 0;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.rechts ul li::before {
    content: '✓ ';
}

footer {
    background-color: #16F0E5;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    border-top: solid 0.2rem #0000ff;
    border-bottom: solid 0.2rem #0000ff;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 17rem repeat(2, 5rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

footer h1 {
    color: #0000ff;
    margin-bottom: 1rem;
    padding-left: 5%;
}

footer h2 {
    padding-left: 5%;
}

.Mirko {
    border-left: #000000;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.Mirko:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.Mirko:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.Mirko:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.Mirko:nth-of-type(4) {
    grid-area: 1 / 4 / 4 / 5;
}

.Mirko ul {
    list-style-type: none;
    padding-left: 5%;
}

.Mirko li {
    margin-bottom: 1rem;
    font-family: 'Heavitas';
    width: 100%;
}

.Mirko a {
    text-decoration: none;
    color: #000000;
}

#social {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3%;
    gap: 3%
}

#social a {
    max-width: 2rem;
}

.social {
    width: 100%;
}

#pay {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3%;
    gap: 3%;
}

.pay {
    max-width: 6rem;
}

#postfooter {
    align-items: center;
    float: left;
    display: flex;
    justify-content: space-around;
}

#postfooter div {
    align-items: center;
    display: flex;
}

#postfooter img{
    max-width: 20%;
    height: auto;
}

#postfooter p {
    text-wrap: nowrap;
    margin-right: 1rem;
}

#postfooter a {
    text-decoration: none;
    color: #000000;
}

@font-face {
    font-family: 'Slate for OnePlus';
    src: url(/assets/SlateForOnePlus-Regular.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url(/assets/BAHNSCHRIFT.TTF);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Heavitas';
    src: url(/assets/Heavitas.ttf);
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@media screen and (max-width: 1024px) {

    #contentr {
        flex-direction: column;
    }

    #contentl {
        flex-direction: column;
    }


    footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30rem) 40rem repeat(2, 8rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .Mirko:nth-of-type(1) {
        grid-area: 1 / 1 / 2 / 2;;
    }
    
    .Mirko:nth-of-type(2) {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .Mirko:nth-of-type(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .Mirko:nth-of-type(4) {
        grid-area: 4 / 1 / 5 / 2;
    }

    #social {
        grid-area: 5 / 1 / 6 / 2;
    }

    #pay {
        grid-area: 6 / 1 / 7 / 2;
    }
}

@keyframes feder {
    from {left: 100%;}
    to {left: 20%;}
}

@keyframes ball {
    from {right: 100%;}
    to {right: 20%;}
}

@keyframes text {
    from {opacity: 0%;}
    to {opacity: 100%;}
}